In [48]:
import pandas as pd
df = pd.read_csv('C:/Projects/Docker/Exercises/Exercise-2/Downloads/01389099999.csv')

In [49]:
df.head()

,STATION,DATE,LATITUDE,LONGITUDE,ELEVATION,NAME,REPORT_TYPE,SOURCE,HourlyAltimeterSetting,HourlyDewPointTemperature,...,BackupDirection,BackupDistance,BackupDistanceUnit,BackupElements,BackupElevation,BackupEquipment,BackupLatitude,BackupLongitude,BackupName,WindEquipmentChangeDate
0,1389099999,2021-01-01T00:00:00,61.183333,11.366667,255.73,"RENA AIRPORT, NO",FM-12,4,NaN,23,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1389099999,2021-01-01T01:00:00,61.183333,11.366667,255.73,"RENA AIRPORT, NO",FM-12,4,NaN,22,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1389099999,2021-01-01T02:00:00,61.183333,11.366667,255.73,"RENA AIRPORT, NO",FM-12,4,NaN,22,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1389099999,2021-01-01T03:00:00,61.183333,11.366667,255.73,"RENA AIRPORT, NO",FM-12,4,NaN,21,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1389099999,2021-01-01T04:00:00,61.183333,11.366667,255.73,"RENA AIRPORT, NO",FM-12,4,NaN,20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [50]:
print(f'Total Number of rows: {df['HourlyDewPointTemperature'].count()}')
print(f'Total Number of Non-null values: {df['HourlyDewPointTemperature'].isnull().count()}')
print(f'Total Number of NaN(null) values: {df['HourlyDewPointTemperature'].isnull().sum()}')

Total Number of rows: 5966
Total Number of Non-null values: 7582
Total Number of NaN(null) values: 1616

In [51]:
print(f'Total Number of rows: {df['DailyAverageDryBulbTemperature'].count()}')
print(f'Total Number of Non-null values: {df['DailyAverageDryBulbTemperature'].isnull().count()}')
print(f'Total Number of NaN(null) values: {df['DailyAverageDryBulbTemperature'].isnull().sum()}')

Total Number of rows: 0
Total Number of Non-null values: 7582
Total Number of NaN(null) values: 7582

In [52]:
print(max(df['HourlyDewPointTemperature']))
print(max(df['DailyAverageDryBulbTemperature']))

TypeError: '>' not supported between instances of 'float' and 'str'

In [53]:
print("Max HourlyDewPointTemperature:", max(df['HourlyDewPointTemperature']))
print("Max DailyAverageDryBulbTemperature:", max(df['DailyAverageDryBulbTemperature']))

TypeError: '>' not supported between instances of 'float' and 'str'

In [55]:
print("Original data types:")
print(df[['HourlyDewPointTemperature', 'DailyAverageDryBulbTemperature']].dtypes)

Original data types:
HourlyDewPointTemperature          object
DailyAverageDryBulbTemperature    float64
dtype: object

In [60]:
# --- 2. Convert the 'HourlyDewPointTemperature' column to numeric ---
# Use errors='coerce' to turn any non-numeric strings into NaN
df['HourlyDewPointTemperature'] = pd.to_numeric(df['HourlyDewPointTemperature'], errors='coerce')

# --- 3. (Optional but good practice) Ensure DailyAverageDryBulbTemperature is numeric ---
# Even though it was already float64, this ensures consistency and handles edge cases if they appear
df['DailyAverageDryBulbTemperature'] = pd.to_numeric(df['DailyAverageDryBulbTemperature'], errors='coerce')

# --- 4. Now, find the maximum values ---
# max() will automatically ignore NaN values in a numeric series.
print("\nMax HourlyDewPointTemperature:", max(df['HourlyDewPointTemperature']))
print("Max DailyAverageDryBulbTemperature:", max(df['DailyAverageDryBulbTemperature']))

# --- 5. (Optional) Check how many NaNs were introduced in HourlyDewPointTemperature ---
print("\nNaNs in HourlyDewPointTemperature after conversion:", df['HourlyDewPointTemperature'].isnull().sum())

Max HourlyDewPointTemperature: 65.0
Max DailyAverageDryBulbTemperature: nan

NaNs in HourlyDewPointTemperature after conversion: 1628

In [63]:
max_temp = df['HourlyDewPointTemperature'].max()
print(max)

rows = df[df['HourlyDewPointTemperature'] == max_temp]
print(rows)

65.0
         STATION                 DATE   LATITUDE  LONGITUDE  ELEVATION  \
4109  1389099999  2021-07-15T08:00:00  61.183333  11.366667     255.73
4110  1389099999  2021-07-15T09:00:00  61.183333  11.366667     255.73

                  NAME REPORT_TYPE  SOURCE  HourlyAltimeterSetting  \
4109  RENA AIRPORT, NO       FM-12       4                     NaN
4110  RENA AIRPORT, NO       FM-12       4                     NaN

      HourlyDewPointTemperature  ... BackupDirection  BackupDistance  \
4109                       65.0  ...             NaN             NaN
4110                       65.0  ...             NaN             NaN

      BackupDistanceUnit  BackupElements  BackupElevation  BackupEquipment  \
4109                 NaN             NaN              NaN              NaN
4110                 NaN             NaN              NaN              NaN

      BackupLatitude BackupLongitude BackupName  WindEquipmentChangeDate
4109             NaN             NaN        NaN                      NaN
4110             NaN             NaN        NaN                      NaN

[2 rows x 125 columns]